/* Styles exclusive for contact.html with inheritance from style.css */
p {
    text-align: center;
}

.contactimg{
    display: block;
    height: 10vh;
    width: auto;
    margin: 1em auto 0;
}

/* Form */
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 4rem;
}

button{
    display: block;
    margin-left: auto;
    margin-right: 0;
}