/* !Unique for index.html */


.slogan{
    text-align: center;
    color: white;
    /* border: 1px solid black; */
}


.discover{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}


.discover-button{
    position: relative;
    min-width: 480px;
    min-height: 240px;
    max-width: 32vmax;
    max-height: 16vmax;
    display: inline-block;
    cursor: pointer;
    margin: 10px 15px;
    /* padding: 1%; */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #404b55;
    /* border:1px solid black */
}


#discover-phone-button{
    background-image: url(media/hbphone.jpg);
}


#discover-audio-button{
    background-image: url(media/hbaudio.jpg);
}


#discover-accessory-button{
    background-image: url(media/hbaccs.jpg);
}


#discover-recycle-button{
    background-image: url(media/hbrecycle.jpg);
}


.discover-desc{
    background-color: black;
    opacity: 0;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


.discover-button:hover{
    box-shadow: 0px 0px 30px 3px #6ab7ff;


    .discover-desc{
        height: 100%;
        opacity: 0.75;
        border-radius: 20px;
    }
    .discover-desc h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.pausebutton{
    position: relative;
    display: flex;
    padding: auto;
    right: 0;
}

.pausebutton button{
    width: 50px;
    cursor: pointer;
    opacity: 1;
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    font-size: xx-small;
    border: none;
}