.products-title{
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-box{
    position: relative;
    min-width: 240px;
    width: 15vw;
    min-height: 30vh;
    display: inline-block;
    margin: 10px;
    background-color: white;
    word-wrap: break-word;
    box-shadow: 0px 0px 10px 3px #95D2EC ;
    padding-bottom: 2.5em;
    text-align: center;
    border-radius: 20px;
}

.products-title{
    padding: 0;
}

.product-img{
    max-width: 180px;
    margin: 10px auto 0;
}

.product-remark{
    color: #D01B1B;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.product-text{
    text-align: left;
    padding: 0 5px;
    font-size: 0.75em;
}

.product-text ul li{
    /* list-style-type: none; */
    color: #646464;
    list-style-position: inside;
    padding-left: 1em;
    font-size: 0.8em;
    line-height: 2;
}

.product-price{
    color: #D01B1B;
    position: relative;
    bottom: 0;
}

.product-button{
    background-color: #47ABD8;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.product-button button{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.product-button:hover{
    background-color: #95D2EC ;
}

.slideshow-container{
    max-width: 2000px;
    width: 100%;
    position: relative;
    margin: auto;
}

.product-slide{
    display: none;
}

.prevslide, .nextslide{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top:-22px;
    padding: 16px;
    background-color: rgba(255,255,255,0.1);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    opacity: 0.8;
}

.nextslide{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prevslide:hover, .nextslide:hover{
    background-color: rgba(255,255,255,0.5);
}

.fade{
    animation: fade 1s;
}

@keyframes fade{
    from{opacity: 0.5;}
    to{opacity: 1;}
}