.recyclePage{
    height: 40vh;
    display: grid;
    place-content: center;
    font-family: 'Poppins' , sans-serif;
}

.important{
    color:var(--red);
}

input[type="file"]{
    display: none;
    cursor: pointer;
}

label{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background: var(--red);
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.35);
    border-radius: 3px;
}

label i{
    font-size: 20px;
    margin-right: 10px;
}

label:hover{
    background: var(--light-red);
}


label:active{
    transform:scale(0.9);
}

button{
    margin: 5px 0;
}

p{
    margin-left: 30px;
}

/* button {
    background-color: #47ABD8;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.35);
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    font-size: 16px;
} */

.image{
    width: 400px;
    height: auto;
    margin-left: 460px;
}

.steps{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
