*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5;
}

.banner{
    top: 0;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background2.jpg);
    position: fixed;
    z-index: 1;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}

.navbar ul li:hover::after{
    width: 100%;
}

main{
    background-color: aquamarine;
}

.main-content{
    padding-top: 25vh;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: small;
    font-style: italic;
}