*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5;
}

.banner{
    top: 0;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(banner.jpg);
    position: fixed;
    z-index: 1;
}

.navbar{
    width: 85%;
    margin:auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 175px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #098;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}

.navbar ul li:hover::after{
    width: 100%;
}

main{
    background-color: #ffffff;
    height: 100%;
}

.main-content{
    padding-top: 25vh;
    position: relative;
    margin:auto;
    color: black;
    max-width:800px;
}

footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    font-style: italic;
}

.banner {
    width: 100%;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    text-align: center;
}

.discover{
    text-align:center;
}

.slogan{
    text-align: center;
    border: 1px solid black;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-left:5%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.image-button{
    width: 40%;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    border:1px solid black
}

.image-button img {
    width: 100%;
    height: auto;
}
