*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}

.banner{
    top: 0; 
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(banner.jpg);
    position: fixed;
    z-index: 1;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.navbar{
    width: 85vw;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}

.navbar ul li:hover::after{
    width: 100%;
}

main{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.main-content{
    max-width: 800px;
    position: relative;
    margin: 0 5%;
    color: black;
}

.image-button{
    width: 90%;
    height: auto;
    margin: 0 5%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.image-button img {
    width: 100%;
    height: auto;
}

.col {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 20px;
    justify-content: center;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10rem,;
    position: static;
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    font-style: italic;
}